.games_page {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid rgb(255, 0, 0); */
    padding: 0rem 1rem;
}

.gamesTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: #343434;
}

.noGamesFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25rem;
    gap: 2rem;
    font-size: 3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid rgb(255, 0, 0); */
}

.startNewGame {
    background-color: #f2c94c;
    color: white;
    padding: 10px;
    font-weight: bold;
    outline: none;
    border: none;
    height: 3.5rem;
    width: 20rem;
    border-radius: 10px;
}

.gameWith {
    color: #343434;
    font-size: small;
    line-height: 0.8;
    text-align: left;
    padding: 0.3rem 1rem 1rem 1rem;
    margin: 1.5rem 0.2rem;
    border-radius: 10px;
    box-shadow: 5px 7px 10px #dfdfdf, -2px -1px 10px #dfdfdf;
}

.playGame {
    background-color: #f2c94c;
    color: white;
    padding: 10px;
    font-weight: bold;
    outline: none;
    border: none;
    height: 2.2rem;
    width: 17.7rem;
    border-radius: 10px;
}

.newGame {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: #270f36;
    color: white;
    padding: 10px;
    font-weight: bold;
    outline: none;
    border: none;
    height: 2.3rem;
    width: 7rem;
    border-radius: 7px;
    box-shadow: 2px 2px 10px #474747;
}

.logout {
    background-color: #270f36;
    color: white;
    padding: 10px;
    font-weight: bold;
    outline: none;
    border: none;
    height: 2.3rem;
    width: 5rem;
    border-radius: 7px;
    box-shadow: 2px 2px 10px #474747;
}