.login_page {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

.navBtn {
    text-align: left;
}

.formContainer {
    width: 100vw;
    height: 38rem;
}

.loginTitle {
    text-align: left;
    line-height: 1;
}

.loginForm {
    width: 89.5vw;
    height: 28rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    gap: 1rem;
}

.Input {
    background-color: #f4f4f4;
    border: none;
    border-radius: 10px;
    width: 18rem;
    height: 2rem;
    padding: 10px;
}

.login_ele {
    width: 20rem;
}

.respStatus {
    background-color: #6fcf97;
    color: white;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    height: 3rem;
    width: 19rem;
    border-radius: 10px;
    padding: 10px;
}

.loginRespStatus {
    background-color: #eb5757;
    color: white;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    height: 2.5rem;
    width: 19rem;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: -1rem;
}

.loginBtn {
    position: absolute;
    bottom: -6rem;
    background-color: #f2c94c;
    color: white;
    padding: 10px;
    font-weight: bold;
    outline: none;
    border: none;
    height: 3.5rem;
    width: 20rem;
    border-radius: 10px;
}